# Build
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET
*.dbmdl
*.bak
*.log

# VS Code
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Secrets
appsettings.Development.json
secrets.json

# Publish
wwwroot/dist/
